# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
/PolycraftAIGym/venv

# gradle
build
.gradle

#secret_azure_key
.secretkeys
secret_real.ini
secret.ini

# other
eclipse
run/*
/PolycraftAIGym/Logs/*
!run/options.txt
!run/resourcepacks
!run/mods
/gradle-app.setting
private_tests/*
