# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
/PolycraftAIGym/venv
/PolycraftAIGym/__pycache__
**/__pycache__
venv/
PolycraftAIGym/agents
# gradle
build
.gradle

#secret_azure_key
.secretkeys
secret_real.ini
secret.ini
*AzureBatch.cfg
# other
eclipse
run/*
/PolycraftAIGym/Logs/*
!run/options.txt
!run/resourcepacks
!run/mods
/gradle-app.setting
private_tests/*
pogo_json/*

