# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
/PolycraftAIGym/venv

# gradle
build
.gradle

# other
eclipse
run/*
!run/options.txt
!run/resourcepacks
!run/mods